body{background-color: aqua;}
.k1 a{
  text-decoration-line: none;
  color: red;
  font-size: large;
  border: 2px solid blueviolet ;
  /*display: block;*/                        /*Cover whole line*/
  display: inline-block;                     /*Cover own lenght*/
  width: 100px;
  text-align: center;                        /*Locate text at Center of object*/
}
a:hover{
  background-color: yellowgreen;           /*Change Background of Hover state*/
}
.k1{
  background-color: sandybrown;
  border: 2px solid sienna;
  height: 250px;
  width: 315px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  
}
.k1 img{
  height: 150px;
  width: 300px;
}
.k1 :hover{
  background-color: black;
  color: white;
}
.k3{
  background-color: goldenrod;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}
.k3 img{
  height: 100px;
}
.k4 {
  background-color: black;
  height: 30px;
  display: flex;
  align-items: center;
}
.k4 a{
  text-decoration-line: none;
  color: white;
  padding-left: 20px;
}
.k5{
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 2px solid gray;
}
.k5 img{
  padding-right: 10px;
  height: 200px;
  width: 200px;
}

.k5, .k7 a{
  text-decoration-line:none;
  color: red;
}
.k5, .k7 a:hover{
  text-decoration-line:underline;
  color: red;
  background-color: aqua;
}
.k6{
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.k6 a{
  text-decoration-line: none;
  color: white;
}
  
.k7{
  height: 250px;
  width: 315px;
  display: inline-block;
}