.k1{
  background-color: brown;
  display:block;
  height: 100px;
  margin-top: 10px;
}
.k2{
  background-color: rebeccapurple;
  display:block;
  height: 50px;
  margin-top: 10px;
}
.k3{
  background-color: salmon;
  display:block;
  height: 1000px;
  margin-top: 10px;
}.k4{
  background-color: rgb(179, 72, 2);
  display:block;
  height: 100px;
  margin-top: 10px;
}