body{
    background-color: rgb(221, 94, 9);
}
#ImageBox{
    position: relative;
    left: 20%;
    width: 60%;
    height: 600px;
    margin: 20px;
}
#img1, #img2, #img3{
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 600px;
}
#buttonBox{
text-align: center;
    
}