main{
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 80%;
}
.kart{
  position: relative;
}
.kart img{
  width: 100%;
  display: block;
}
.kart .slogan{
  height: 100%;
  width: 50%;
  background-color: rgba(253, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;

}
.kart .marka{
  padding: 20px;
  border: 2px solid black;
  position:absolute;
  background-color: aliceblue;
  top: 50%;
  left: 10px;
  box-sizing: border-box;
}